{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}lab philosophy{% endblock %}

{% block philosophy %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad pagefade">
    <div class="row no-gutters title">
        <div class="col-10 offset-1 col-md-4 offset-md-0 col-lg-4 offset-lg-0 col-xl-3 align-self-center">
            <h1 class="display-4 black-text animated fadeInLeft section-title" style="font-size:2.5rem;">lab philosophy</h1>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-1 col-lg-7 offset-lg-0 col-xl-8 animated fadeInRight content">
            <br><br><br>
            <p class="text-center"> <b>Diversity enhances our ability to do science. </b> Having a diverse perspective of ideas, beliefs, thoughts, and values improves critical thinking, problem solving, creativity, and innovation which we believe is paramount to conducting quality research. This includes diversity of cultures, race, gender, sexual orientation, upbringing, lifestyle, ability status, and experiences.</p>
            <br>
            <p class="text-center"> <b>We commit to enhancing diversity and inclusion </b> at all levels of lab activities, from our research to our members through: <br>
                (1) active outreach activities, <br>
                (2) activities that level the playing field (making it easy to apply to/access research), and <br>
                (3) day to day efforts to promote inclusion, reduce bias, and call out acts of exclusion both within and outside of the lab.</p>
            <br>
            <p class="text-center"> <b>We believe in treating others with respect. </b> We respect and acknowledge that others within and outside of the lab will have different backgrounds, experiences, strengths and weaknesses than ourselves and we value all intersecting identities and perspectives. We believe for all to flourish we must play an active role in being thoughtful, respectful, and supportive. By holding ourselves accountable we strive towards improving the way research is conducted.</p>
            <br>
            <p class="text-center"> <b>We believe that a central goal of our research is to give back to our community, </b>by improving science and society. To support this goal, we commit to <br>
                (1) making our research available and understandable to the public and <br>
                (2) supporting open and reproducible science policies, such as making our code and data publicly available.</p>
            <br>
            <p class="test-center"><b>We commit towards continuing to educate ourselves and reflect both individually and collectively on how we can continue to support members of our community who may be experiencing barriers.</b></p>
            <br><br>
            <img src="https://cdn.jsdelivr.net/gh/cgratton/web-common@caterina/common/static/common/imgs/lab_phil.png" width="70%"/>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
